.container {
  max-width: 1920px;
  margin: 0 auto;
}

.padding-1 {
  padding: 0 200px;
}

.padding-2 {
  margin: 0 376px;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.underline-link {
  position: relative;
  display: inline-block;
}

.underline-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  transition: width 0.3s ease, left 0.3s ease;
}

.underline-link:hover::after {
  right: 100%;
}

.header__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 44px;
  background-color: black;
  height: var(--dynamic-vh);
  color: rgb(255, 255, 255);
}

.header__header-content {
  display: flex;
  justify-content: space-between;
  height: min-content;
}

.header__name-position {
  gap: 0 10px;
  margin-right: 37px;
}

.header__name {
  font-size: 28px;
  line-height: 33px;
  font-family: "Roboto Black", sans-serif;
}

.header__position {
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.header__nav-list {
  display: flex;
  gap: 0 26px;
}

.header__nav-item {
  position: relative;
  display: inline-block;
}

.header__nav-item::after {
  width: 0;
  background-color: var(--white-color);
}

.header__nav-item:hover::after {
  width: 100%;
}

.header__contacts {
  gap: 0 29px;
}

.header__contacts-container {
  font-size: 18px;
  gap: 0 13px;
}

.header__contacts-link::after {
  width: 100%;
  background-color: var(--white-color);
}

.header__contacts-link:hover::after {
  width: 0;
}

.header__main-content {
  margin-top: 180px;
  max-width: 850px;
  margin: 180px 0 190px 140px;
}

.header__subtitle {
  margin-top: 20px;
  font-size: 18px;
  line-height: 27px;
}

.skills-projects__container {
  margin-top: 176px;
}

.skills-projects__wrapper {
  align-items: flex-start;
  justify-content: space-between;
  gap: 0 275px
}

.skills__inner {
  width: 100%;
}

.skills__list {
  margin-top: 109px;
  width: 100%;
}

.skills__item {
  position: relative;
  padding: 10px 0;
  border-bottom: 2px solid var(--secondary-color);
  overflow: hidden;
}

.skills__item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  animation: fillBorder 1s forwards;
}

@keyframes fillBorder {
  to {
    width: var(--fill-percentage, 0);
  }
}

.skills__item-title {
  font-family: 'Roboto Bold';
  font-size: 15px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.projects__list {
  margin-top: 83px;
  width: 356px;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.projects__item-title {
  font-family: 'Roboto Black';
  font-size: 64px;
  font-weight: 900;
  line-height: 75px;
}

.projects__item-subtitle {
  font-family: 'Roboto Bold Italic';
  color: var(--secondary-color);
  font-size: 21px;
  font-weight: 700;
  line-height: 27px;
}

.projects__item-text {
  color: var(--secondary-color);
  margin-top: 8px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.expertise__container {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.expertise__list {
 gap: 0 176px;
 position: relative;
 margin-top: 96px;
}

.expertise__number {
  font-size: 230px;
  line-height: 167px;
}

.expertise__text {
  position: absolute;
  top: 50px;
    background-color: white;
}

/* .expertise__bg {
  position: absolute;
  font-family: 'Roboto Black';
  font-size: 830px;
  z-index: -20;
  color: var(--secondary-bg);
  text-transform: uppercase;
  white-space: nowrap;
} */