@media screen and (max-width: 1279px) {
  .header__inner {
    padding-top: 20px;
  }

  .header__main-content {
    padding: 90px 0 100px 70px;
  }

  .header__nav-list {
    gap: 0 20px;
  }

  .header__contacts {
    flex-direction: column;
    align-items: end;
    gap: 10px 0;
  }

  .skills-projects__container {
    margin-top: 90px;
    gap: 70px 70px;
  }

  .skills__inner {
    max-width: 350px;
  }

  .skills__list {
    margin-top: 55px;
    width: 100%;
  }

  .projects__inner {
    max-width: 250px;
  }

  .projects__list {
    margin-top: 42px;
  }

  .expertise__container {
    margin-top: 105px;
  }

  .expertise__list {
    gap: 100px 100px;
    margin-top: 48px;
  }

  .expertise__number {
    font-size: 180px;
    line-height: 180px;
  }

  .works__container {
    margin-top: 109px;
  }

  .works__statement-title {
    font-size: 42px;
    line-height: 48px;
    max-width: 760px;
  }

  .works__statement-subtitle {
    margin-top: 25px;
    max-width: 767px;
  }

  .works__list {
    margin-top: 60px;
  }

  .works__item-descr {
    margin-top: 18px;
  }

  .quote__container {
    margin-top: 100px;
  }

  .quote__title {
    margin-top: 60px;
  }

  .education-experience__container {
    margin-top: 100px;
    gap: 60px 200px;
  }

  .education-experience__list {
    margin-top: 60px;
    gap: 45px 0;
  }
}

@media screen and (max-width: 1023px) {
  .date-font {
    font-size: 52px;
    line-height: 60px;
  }

  .header__name-position {
    flex-direction: column;
    gap: 10px 0;
    align-items: start;
  }

  .expertise__list {
    gap: 50px 20px;
  }

  .expertise__number {
    font-size: 150px;
    line-height: 150px;
  }

  .expertise__text {
    font-size: 14px;
  }

  .education-experience__container {
    flex-direction: column;
    align-items: center;
  }

  .education-experience__list {
    width: 500px;
    margin-top: 40px;
  }

  .footer__inner {
    margin: 120px 0 75px;
  }

  .footer__feedback {
    grid-template-columns: repeat(auto-fit, minmax(500px, 700px));
    gap: 80px 0;
  }

  .footer__feedback-content {
    width: 100%;
  }
  .footer__feedback-title {
    font-size: 36px;
    line-height: 42px;
  }
  .footer__feedback-subtitle {

  }

}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 6px;
  }

  .header__inner {
    padding-top: 10px;
  }

  .header__inner-header {
    align-items: start;
  }

  .header__inner-header-left {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px 0;
  }

  .header__name-position {
    margin-right: 10px;
    width: max-content;
    gap: 5px 0;
  }

  .header__name {
    font-size: 20px;
    line-height: 24px;
  }

  .header__position {
    font-size: 10px;
    line-height: 12px;
  }

  .header__nav-item svg {
    width: 24px;
    height: 24px;
  }

  .header__contacts {
    font-size: 12px;
    line-height: 14px;
  }

  .header__contacts-container {
    gap: 0 10px;
  }

  .header__contacts-container svg {
    width: 12px;
  }

  .header__main-content {
    padding: 30px 0;
  }

  .header__subtitle {
    font-size: 14px;
    margin-top: 15px;
    line-height: 18px;
  }

  .skills-projects__container {
    margin-top: 45px;
    flex-direction: column;
    padding: 0 30px;
    gap: 45px 0;
  }

  .skills__inner {
    max-width: 100%;
  }

  .skills__list {
    margin-top: 30px;
  }

  .projects__inner {
    max-width: 100%;
  }

  .projects__list {
    margin-top: 30px;
  }

  .expertise__container {
    margin-top: 55px;
  }

  .expertise__list {
    flex-direction: column;
    gap: 20px 0;
    margin-top: 30px;
  }
  .expertise__number {
    font-size: 90px;
    line-height: 90px;
  }
  .expertise__text {
    top: 35px;
    font-size: 12px;
    line-height: 14px;
  }

  .works__container {
    margin-top: 55px;
  }

  .works__statement-title {
    font-size: 36px;
    line-height: 42px;
    max-width: 100%;
  }

  .works__statement-subtitle {
    margin-top: 16px;
  }

  .quote__container {
    margin-top: 55px;
  }

  .quote__title {
    margin-top: 30px;
    font-size: 30px;
    line-height: 36px;
  }

  .quote__subtitle {
    margin-top: 18px;
  }

  .education-experience__container {
    margin-top: 55px;
    padding: 0 30px;
    align-items: start;
  }

  .education-experience__list {
    width: 100%;
    margin-top: 30px;
    gap: 30px 0;
  }

  .footer__container {
    margin-top: 55px;
  }
  .footer__inner {
    margin: 55px;
  }
  .footer__feedback {
    gap: 40px 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .footer__feedback-title {
    font-size: 24px;
        line-height: 28px;
  }
  .footer__feedback-subtitle {
    margin-top: 18px;
  }

}