@import './main.css';
@import './main-tablet.css';
@import '../fonts/fonts.css';

:root {
  --black-color: #222222;
  --white-color: #fff;
  --primary-color: #FF5B5B;
  --secondary-color: #777777;
  --secondary-bg: #F8F8F8;
  --font-family: OpenSans Regular, sans-serif;
  --dynamic-vh: min-content;
  --padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 27px;
  font-weight: normal;
  line-height: 1.2;
  color: #333333;
  background-color: #fff;
  overflow-x: hidden !important;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 16px;
    line-height: 22px;
  }
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'OpenSans Extra Bold', sans-serif;
  font-size: 75px;
  font-weight: 900;
  line-height: 100%;
}

h2 {
  font-family: 'OpenSans Extra Bold', sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 27px;
  text-transform: uppercase;
}

h3 {
  font-family: 'Ubuntu Bold';
  font-size: 28px;
  line-height: 27px;
  letter-spacing: -5px;
  text-transform: uppercase;
}

h4 {
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

@media screen and (max-width: 1280px) {
  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }
}

a {
  text-decoration: none;
  display: inline-block;
  margin: 0;
  color: inherit;
}

input {
  outline: none;
}